TgCrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.2
telegraph
gTTS
googletrans==4.0.0rc1
yt_dlp
asyncio
requests
aiohttp
aiofiles
asyncio
wget
pillow
python-arq
youtube-search-python==1.4.6
youtube-dl
python-dotenv
